* {
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
}

h1 {
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
}
