<div class="container">
    <div class="form-container" id="login-form">
      <h1>Login</h1>
      <form [formGroup]="loginForm" (ngSubmit)="onClick()">
        <label for="username" >Username</label>
        <input type="text" id="username" name="username" required formControlName="email">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required formControlName="password">
        <button type="submit">Login</button>
      </form>
    </div>
</div>