<div class="book-body">
    <div class="book-container">
        <div class="book-header">
            <h1 class="book-title">{{customerDetails?.name}}</h1>
              <span class="book-type"
              >{{"Available"}}</span>
        </div>
        
        <div class="book-content">
            <div class="book-details">
                <h3>Email</h3>
                <p>{{customerDetails?.email}}</p>
                <h3>Phone Number</h3>
                <p>{{customerDetails?.phoneNumber}}</p>
                  <h3>Added By</h3>
                  <p>{{customerDetails?.addedByUser}}</p>
                  
            </div>
        </div>
        
        <div class="action-buttons">
            <button class="action-btn back-btn" routerLink="" >Back</button>
            @if(isAdmin){
              <button class="action-btn delete-btn" (click)="onDelete()">Delete</button>
            }@else{
               <button class="action-btn edit-btn" (click)="onEdit()">Edit</button>
            }
        </div>
    </div>
    </div>
  
  
  